torch>=2.3.0
torchvision>=0.18.0
opencv-python>=4.9.0
numpy>=1.26.4
scikit-learn>=1.4.2
fastapi>=0.111.0
uvicorn>=0.29.0
python-multipart>=0.0.9
mtcnn>=0.1.1
pillow>=10.3.0
python-jose[cryptography]>=3.3.0
passlib[bcrypt]>=1.7.4
python-dotenv>=1.0.1
redis>=5.0.4
tensorflow>=2.16.1
slowapi>=0.1.9 